<div class="card">
    <a href="{{url}}"><img src="{{image}}" alt="{{title}}"></a> </br>
    <div class="title"><h1>{{title}}</h1></div>
    <div class="description">{{description}}</div>
    <div><h1 class="btn"></h1></div>
</div>